@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* HTML and Body CSS*/
html{
  font-family: "Montserrat", serif;
}
body {
  margin:0px;
}
/* Header CSS */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
}
header img {
  margin-left: 24px;
  position: relative;
  top:6px;
  width:40px;
}
header h1{
  display: inline;
  margin: 0px;
  font-weight: 400;
  vertical-align: baseline;
  font-size: 32px;
  position: relative;
  bottom:8px;
}
header ul {
  margin: 0px;
  padding: 0px;
  float: right;
  position:relative;
  top:18px;
}
header li {
  display: inline;
  margin-right: 16px;
}
header #signin{
  margin-right: 24px;
}
/* Banner content */
.greybkg {
  padding-top: 90px;
  padding-left: 24px;
  padding-bottom: 32px;
  background-color: grey;
}
.img{
  display:inline-block;
  width: 60%;
  margin-right: 24px;
}
.img img{
  width: 100%;
}
.text{
  display: inline-block;
  width: 33%;
  float: right;
  text-align: center;
  margin-right: 70px;
  text-align: left;
}
.text h2 {
  font-size: 55px;
  color:#341211;
  padding-top:50px;
}
.text p {
  color:#341211;
  font-size: 35px;
}
.text button{
  padding: 8px 100px;
  color:white;
  background-color: #341211;
  font-family: "Montserrat", serif;
}
/*It doesn't hurt to keep practicing*/
